.main-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.container {
  min-width: 800px;
  position: relative;
  display: flex;
}

.slider {
  width: 100%;
}

/***** bottoni chevron *****/
.btn-chevron {
  width: 30px;
  aspect-ratio: 1;
  background-color: rgb(221, 206, 209);
  font-size: 25px;
  border-radius: 100%;
  padding-left: 5px;
  padding-top: 5px;
  position: absolute;
  left: calc(50% - calc(30px / 2));
  z-index: 999;
}

.btn-chevron.up {
  top: 10px;
}

.btn-chevron.down {
  bottom: 10px;
}

.btn-chevron:hover {
  color: blue;
}
/***** bottoni chevron *****/

/***** immagini *****/
.container img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.item {
  display: none;
}

.item.active {
  display: block;
}
/***** /immagini *****/

/***** thumbnails *****/
.thumbnails {
  width: 200px;
  height: 300px;
  background-color: black;
}

.thumbnails img {
  width: 100%;
  height: calc(100% /5);
  display: flex;
  direction: column;
  object-fit:cover;
}

.thumbnail-item {
  filter: opacity(0.5);
}

.thumbnail-item.active {
  filter: opacity(1);
}
/***** /thumbnails *****/